header {
    background: #FFF;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.05);
    width: 100%;
    position: fixed;
    z-index: 10;
}

.logo {
    padding-top: 4px;
    width: 60px;
    height: 50px;
    background-size: 60px;
    background-position: center;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    width: 890px;
    margin: 0 auto;
    height: 56px;
    padding: 0 15px;
}

.navigation-menu {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 75px;
}

.navigation-menu > ul {
    display: flex;
    padding-top: 2px;
    padding-left: 150px;
}

.navigation-menu li {
    list-style: none;
    margin-right: 20px;
}

.navigationLink {
    position: relative;
}

.navigationLink .active i {
    color: #61dafb;
}

.navigation-menu li a {
    color: #323232;
    text-decoration: none;
}

.navigation-menu li a:hover {
    color: #61dafb;
    text-decoration: underline;
}

.navigationLink i {
    font-size: 20px;
    color: #5f737f;
}

.navigationLink i:hover {
    color: #42b4f5;
}

a.logo {
    display: block;
    padding-top: 0;
    height: 56px;
    width: 60px;
}

.profileBlock {
    width: 45px;
    height: 0;
    display: block;
    position: relative;
}

.profileImage {
    display: inline-block;
    background-size: 34px;
    background-color: #FFF;
    height: 34px;
    width: 34px;
    margin-left: -4px;
    margin-top: -10px;
    background-repeat: no-repeat;
    border: 4px solid #efefef;
    border-radius: 100%;
    cursor: pointer;
}

.profileBlock i {
    margin-left: 44px;
    margin-top: 8px;
}

.profileImage:hover i {
    color: #61dafb;
}

.friendsNotificationsList {
    position: relative;
}

.friendsNotificationsList.active {
    color: #61dafb;
}

.friendsNotificationsList.hidden {
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.friendsBtn {
    position: relative;
}

.friendsNotificationsList {
    display: block;
    position: absolute;
    top: 38px;
    left: -70px;
    padding: 15px;
    background: #FFF;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.15);
    width: 180px;
    z-index: 5;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.NotificationsListHeader {
    border-bottom: 1px solid #efefef;
    padding: 5px 0;
    font-size: 13px;
}

.NotificationsListContent {
    margin-top: 10px;
    height: 240px;
    overflow-y: scroll;
    font-size: 14px;
}

.profileMenuDropdown.hidden {
    display: none;
}

.profileMenuDropdown {
    display: block;
    position: absolute;
    top: 38px;
    left: -55px;
    background: #FFF;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.15);
    width: 120px;
    z-index: 5;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.profileMenuDropdown li {
    margin-right: 0;
    color: #76919c;
}

.DropDownMenuBtn {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.DropDownMenuBtn:hover {
    background: #efefef;
}

.profileMenuDropdown li a {
    text-decoration: none;
    color: #76919c;
}

.profileMenuDropdown li:hover a {
    color: #76919c;
    text-decoration: none;
}