body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-position: center top -250px !important;
    background-attachment: fixed;
    background-size: 100% auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Container {
    width: 920px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

.PageContainerContent {
    padding: 20px;
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
}

.PageContainer {
    display: flex;
    width: 70%;
}

.SomePageContainer {
    display: flex;
    flex-flow: column wrap;
    width: 70%;
    padding: 20px;
}

.SomePageHeader, .PageHeader {
    background-color: #f0eff5;
    color: #76919c;
    font-size: 13px;
    padding: 10px;
    border-top-left-radius: 4px;
    font-weight: bold;
    width: 100%;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.05);
}

.SomePageContent, .PageContent {
    padding: 15px;
    background: #FFF;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.05);
    box-sizing: border-box;
}

.formLabel {
    width: 100%;
    display: block;
}

.Row {
    display: flex;
    flex-flow: row wrap;
}

.mgBottom {
    margin-bottom: 30px;
}

.ThreeColumn {
    width: 30%;
    display: block;
}

.TwoColumn {
    width: 50%;
    display: block;
}

.FourColumn {
    width: 25%;
    display: block;
}

.OneColumn {
    width: 100%;
    display: block;
}

.text-center {
    text-align: center !important;
}

.TypeInput {
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #61dafb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#ChangeSettingsForm {
    width: 100%;
}

#ChangeSettingsForm label {
    margin-bottom: 25px;
    display: block;
    padding: 0 15px;
}

.formInput {
    box-sizing: border-box;
    /*border-bottom-right-radius: 6px;*/
    /*border-top-right-radius: 6px;*/
    border: 1px solid #efefef;
    border-left: 2px solid #42a5f6;
    width: 100%;
    padding: 12px 15px;
    font-size: 14px;
}

.formInput.disabled {
    border-left: 2px solid red;
}

.formLabel {
    font-size: 14px;
    color: #758e9d;
    padding-bottom: 10px;
}

.formSubmit {
    background: #42a5f6;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.15);
    border: none;
    color: #FFF;
    padding: 6px 24px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
}

.AlertSuccess {
    position: fixed;
    right: -100%;
    background: #dff0d7;
    bottom: 25px;
    padding: 10px;
    font-size: 14px;
    color: #528952;
    width: 280px;
    transition: all 1s ease;
    border-left: 3px solid #81cf81;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.15);
}

.AlertFailed {
    position: fixed;
    right: -100%;
    background: #f2dede;
    bottom: 25px;
    padding: 10px;
    font-size: 14px;
    color: #ac4642;
    transition: all 1s ease;
    border-left: 3px solid #e35a56;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.15);
}

.alertHeading {
    font-size: 12px;
}

.alertContent {
    font-size: 16px;
}

.formLabel span {
    float: right;
    cursor: pointer;
}

.formLabel span i {
    font-size: 16px;
}

#loadingBar {
    position: fixed;
    z-index: 2147483647;
    top: 55px;
    left: 0;
    width: 0;
    height: 2px;
    background: #61dafb;
    border-radius: 1px;
    transition: width 500ms ease-out,opacity 500ms linear;
}

.Container {
    padding-top: 56px;
}