body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-position: center top -250px !important;
    background-attachment: fixed;
    background-size: 100% auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Container {
    width: 920px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

.PageContainerContent {
    padding: 20px;
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
}

.PageContainer {
    display: flex;
    width: 70%;
}

.SomePageContainer {
    display: flex;
    flex-flow: column wrap;
    width: 70%;
    padding: 20px;
}

.SomePageHeader, .PageHeader {
    background-color: #f0eff5;
    color: #76919c;
    font-size: 13px;
    padding: 10px;
    border-top-left-radius: 4px;
    font-weight: bold;
    width: 100%;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.05);
}

.SomePageContent, .PageContent {
    padding: 15px;
    background: #FFF;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.05);
    box-sizing: border-box;
}

.Row {
    display: flex;
    flex-flow: row wrap;
}

.mgBottom {
    margin-bottom: 30px;
}

.ThreeColumn {
    width: 30%;
}

.TwoColumn {
    width: 50%;
}

.FourColumn {
    width: 25%;
}

.OneColumn {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #61dafb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}